<header class="navbar navbar-transparent" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        Dave Dash
      </a>
    </div> <!--/.navbar-header -->
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/writing">Writing</a>
        </li>
        <li>
          <a href="/tutorial">Tutorials</a>
        </li>
        <li>
          <a href="/consulting">Consulting</a>
        </li>
      </ul>
    </div> <!--/.nav-collapse -->
  </div> <!--/.container -->
</header>
