<div id="header">
  <a href="/" class="brand">
    <span title="Dave Dash">&nbsp;DΛVE DΛsh&nbsp;</span>
  </a>
</div>

<nav class="navbar navbar-ada" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li>
        <a href="/writing">Writing</a>
      </li>
      <li>
        <a href="/tutorial">Tutorials</a>
      </li>
      <li>
        <a href="/talks">Talks</a>
        <!-- <a href="/consulting">Consulting</a> -->
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
