#header {
  text-align: center;
  padding: 40px 0 30px 0;
  border-bottom: 1px solid #e5e5e5;
}

.brand span {
  transform: none;
}

.btn-ada-light:hover,
.btn-ada-dark:hover {
  font-size: 100px;
  color: #FF7C26 !important;
}

span.octocat {
  padding-left: 20px;
  margin-left: 3px;
  background-size: 18px;
  line-height: 20px;
  background-image: url('../images/gh.png');
  background-repeat: no-repeat;
}
