### Software Deployment (Continuous Delivery)

How often do you deploy?  How disruptive to your customers
and to your business is your deploy?
How long has it been since your engineers wrote the software
that your customers are now using?

Let me help you get your teams to
deploy at the pace they want without customer disruption.  I've built robust
deployment systems for Pinterest, one of the most popular sites on the internet.
I can do the same for you.

Related articles:

* [Deploying Software at Pinterest][1]
* [Stealthy Shipping with Atomic Deploys][2]
* [Tools we use to release Pinterest][3]
* [How we deliver features to Pinners][4]
* [What goes on during a deploy][5]

[1]: http://engineering.pinterest.com/post/70621633046/deploying-software-at-pinterest
[2]: http://engineering.pinterest.com/post/94756298214/stealthy-shipping-with-atomic-deploys
[3]: /2013/10/06/tools-we-use-to-release-pinterest/
[4]: /2013/10/12/how-we-deliver-features-to-pinners/
[5]: /2013/10/24/what-actually-goes-on-during-a-deploy/
