## Build Systems / Continuous Integration

If your company is deciding on a build server and how to use it effectively
as part of your *continuous integration* pipeline, let me help you.

I've extensively worked with the Jenkins CI server (Hudson), but I am also
familiar with more modern/developer-friendly systems:

* Travis CI
* Solano CI
* Circle CI
* Koality

I can help clean up your workflow:

* Immediate feedback when their pull requests fail tests.
* Automate testing all your new projects, libraries and microservices as soon
  as you make your first commit.
* Making sure everyone gets notified when the build is successful.
* Make your slow jobs less slow.
* Make your average jobs fast.
* Handle capacity planning for your build farm.

Good CI is one of the cornerstones to fast development cycles.
[Let me help you](#contact).