<!--Nav Bar -->
<nav class="col-md-4 hidden-xs hidden-sm bs-docs-sidebar">
  <ul id="sidebar" class="nav nav-stacked">
    <li>
<!--         <a href="#dt">Developer Tools</a>
        <ul class="nav nav-stacked">
            <li><a href="#dt-vcs">Version Control Systems</a></li>
            <li>
              <a href="#dt-cr">Code Review Tools</a>
               </li>
            <li>--><a href="#dt-ci">Continuous Integration</a></li><!--
            <li><a href="#dt-cd">Deployment</a></li>
            <li><a href="#dt-mon">Monitoring</a></li>
        </ul>
    </li>
    <li>
      <a href="#ops">DevOps / Technical Operations</a>
      <ul class="nav nav-stacked">
        <li><a href="#ops-launch">Provisioning/a></li>
        <li><a href="#ops-disco">Service Discovery</a></li>
        <li><a href="#ops-cm">Configuration Management</a></li>
        <li><a href="#ops-alert">Monitoring/Alerting</a></li>
        <li><a href="#ops-oncall">On-call Rotation</a></li>
        <li><a href="#ops-backup">Backups and Restores</a></li>
        <li><a href="#ops-dr">Disaster Recovery</a></li>
        <li><a href="#ops-dba">Database Operations</a></li>
        <li><a href="#ops-security">Security</a></li>
      </ul>
    </li>
    <li>
      <a href="#swe">Software Development</a>
      <ul class="nav nav-stacked">
        <li><a href="#swe-cr">Code Review Guidelines</a></li>
        <li><a href="#swe-best">Language Best Practices</a></li>
        <li><a href="#swe-sd">Custom Development</a></li>
      </ul>
    </li> -->
    <li>
      <a href="#contact">Contact</a>
    </li>
  </ul>
</nav>
