<h3>Version Control Systems</h3>
<p>
  You are using version control?  Right?
</p>
<p>
  Outside of using a good text-editor
  (and I can help you with that too), you'l want to be using
  version control.  Typically I steer people toward Git as it
  offers a lot of advantages despite it's steep initial learning
  curve.
</p>
<p>
  I'm also well versed in a lot of tools available that make using
  version control easy.  A lot of these are tied in with
  <a href="#dt-cr">Code Review Tools</a>. I can help train your
  engineers to be effective users of Git and can teach people to
  debug the worst Git catastrophes.
</p>
