---
layout: default
---
<div id="single">

  <div class="post">

    <div class="caption">
      <div class="header">
        <span class="post-tag"><a href="/tutorial">#tutorials</a></span>
        <h1>{{ page.title }}</h1>
      </div>
      {{ content }}
    </div>
  </div>

  <div id="footer">
    <div id="links">
      <div class="container">

        <div class="col-sm-3">
          <a href="/" class="brand">
            <span title="Dave Dash">&nbsp;DΛVE DΛsh&nbsp;</span>
          </a>
        </div>

        <div class="col-sm-8">
          Follow me on
          <a href="http://github.com/davedash/">follow me on
            <span class="octocat">Github</span>
          </a>.
        </div>



      </div>
    </div>
  </div>
</div>
